<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ges_AutoEntities"
   connectionString="metadata=res://*/DB.Database.csdl|res://*/DB.Database.ssdl|res://*/DB.Database.msl;provider=System.Data.SqlClient;provider connection string='data source=ILYASSE-PC\ILYASSE;initial catalog=ges_Auto;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
   providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <PL.Properties.Settings>
      <setting name="pathPhoto" serializeAs="String">
        <value>C:\Users\Ilyasse\Documents\GESAUTO\.Photos\</value>
      </setting>
      <setting name="isFromDatabase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="isConfirmation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SPath" serializeAs="String">
        <value />
      </setting>
      <setting name="RPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TBackup" serializeAs="String">
        <value />
      </setting>
      <setting name="Nom" serializeAs="String">
        <value />
      </setting>
      <setting name="Prenom" serializeAs="String">
        <value />
      </setting>
      <setting name="isRemember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="idUtilisateur" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
    </PL.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PL.Properties.Settings>
      <setting name="conStringMaster" serializeAs="String">
        <value>Server = ILYASSE-PC\ILYASSE; Database = master; Integrated Security = True;</value>
      </setting>
    </PL.Properties.Settings>
  </applicationSettings>
</configuration>